  .loginbox {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 350px;
    height: 200px;
    background-color: white;
    border: 1px solid black;
  }


  .close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 0px;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
  }

  .username {
    position: absolute;
    top: 50px;
    left: 6px;
  }

  .password {
    position: absolute;
    top: 100px;
    left: 10px;
  }

  .submit {
    position: absolute;
    top: 150px;
    left: 150px;
  }