<div class = "container">
<div class = "side">
    <app-sidebar [makeHomeBold]="makeHomeBold"></app-sidebar>
</div>
<div class = "main" [style.background-color]="darkMode() ? 'black' : 'white'">
    <app-header class="header" (makeHomeBold)="makeHomeBoldHandler($event)"></app-header>
    <!--<app-body></app-body>-->
    @for(post of posts; track post.id){
        <app-post name = "{{post.name}}" username = "{{post.username}}" text = "{{post.text}}" [likes] = post.likes [reyeets] = "1" [replies] = "2" time = "1d"></app-post>
    }
                                                                                                                                    
</div>    
<div class = "side"></div>
</div>

@if ((viewType == 'default' || viewType == 'top') && globals.loggedIn()) {
    <button (click)="toggleCreatePostBox()" class='add-post-btn'>+</button>
}

@if (createPostBox){
    <app-create-post (close)="toggleCreatePostBox()"></app-create-post>
}

