.left-side {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  height: 100vh;
  background-color: lightblue;
}

.right-side {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh;
  background-color: lightblue;
}

.main {
  padding-left: 400px;
  padding-right: 400px;
  min-height: 100vh;
  background-color: white;
  overflow-y: auto;
}