<div class="topdiv">
  <h3 class="username" (click)="openedComment=true">{{post.profileDataPublic.name + " (@" + post.profileDataPublic.username + ")"}}</h3>

  <div class="menu-container">
    <h3 class="selector" (click)="toggleMenu()">▽</h3>
    @if(openMenu){
      <div class="dropdown">
        <p (click)="toggleReport()">Report post</p>
      </div>
    }
  </div>
</div>

<p class="post" (click)="openedComment = true">{{post.text}}</p>

<div class="bottomdiv">
    <div class="option" (click)="likePost()">
    @if(post.liked){
      <svg xmlns="http://www.w3.org/2000/svg" class="likeimg" width="25" height="25" viewBox="0 0 48 48"><path fill="#f44336" d="M34 9c-4.2 0-7.9 2.1-10 5.4C21.9 11.1 18.2 9 14 9C7.4 9 2 14.4 2 21c0 11.9 22 24 22 24s22-12 22-24c0-6.6-5.4-12-12-12"/></svg>
    }@else {
      <svg xmlns="http://www.w3.org/2000/svg" class="likeimg" width="25" height="25" viewBox="0 0 48 48"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M15 8C8.925 8 4 12.925 4 19c0 11 13 21 20 23.326C31 40 44 30 44 19c0-6.075-4.925-11-11-11c-3.72 0-7.01 1.847-9 4.674A10.99 10.99 0 0 0 15 8"/></svg>
    }
      <span class="likecount">{{post.likeCount ? post.likeCount : 0}}</span>
    </div>
    <div class="option" (click)="reyeetPost()">
    @if(post.reyeeted){
      <svg xmlns="http://www.w3.org/2000/svg" class="reyeetimg" width="25" height="25" viewBox="0 0 14 14"><path fill="currentColor" fill-rule="evenodd" d="M9.354.146A.5.5 0 0 0 8.5.5V2h-6A2.5 2.5 0 0 0 0 4.5V6a1 1 0 0 0 2 0V4.5a.5.5 0 0 1 .5-.5h6v1.5a.5.5 0 0 0 .854.354l2.5-2.5a.5.5 0 0 0 0-.708zM5.19 8.038a.5.5 0 0 1 .31.462V10h6a.5.5 0 0 0 .5-.5V8a1 1 0 1 1 2 0v1.5a2.5 2.5 0 0 1-2.5 2.5h-6v1.5a.5.5 0 0 1-.854.354l-2.5-2.5a.5.5 0 0 1 0-.708l2.5-2.5a.5.5 0 0 1 .545-.108" clip-rule="evenodd"/></svg>
      }@else{
      <svg xmlns="http://www.w3.org/2000/svg" class="reyeetimg" width="25" height="25" viewBox="0 0 14 14"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1"><path d="M9 .5L11.5 3L9 5.5"/><path d="M.5 6V4a1 1 0 0 1 1-1h10M5 13.5L2.5 11L5 8.5"/><path d="M13.5 8v2a1 1 0 0 1-1 1h-10"/></g></svg>
    }
        <span class="reyeettext">{{post.reyeetCount ? post.reyeetCount : 0}}</span>
    </div>
    <svg (click)="openedComment=true" xmlns="http://www.w3.org/2000/svg" class="commentimg" width="25" height="25" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M12 21a9 9 0 1 0-9-9c0 1.488.36 2.89 1 4.127L3 21l4.873-1c1.236.639 2.64 1 4.127 1" stroke-width="1"/></svg>
    <span class="commenttext">{{post.replyCount ? post.replyCount : 0}}</span>
    <span class="time">{{post.timestamp | time}}</span>
</div>

@if(report){
<div class="reportbox">
<p class="reportquestion">Do you want to report this post?</p>
<button class="reportyesbtn" (click)="reportpost()">Yes</button>
<button class="reportnobtn" (click)="toggleReport()">No</button>
</div>
}

@if(openedComment !== false){
    <app-comment-box [openedPostData]="post" (close)="openedComment = false"></app-comment-box>
}