:host {
    display: block;
    width: 1100px;
    background-color: lightblue;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    border-radius: 5px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.comment {
  cursor: pointer;
}

.topdiv .username {
  margin-top: 0;
  padding-top: 0;
}
.reyeetedby {
  font-style: italic;
  padding-left: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.username {
    padding-top: 0px;
    margin-bottom: 5px;
    padding-left: 10px;
    cursor: pointer;
}

.username:hover {
  text-decoration: underline;
}

.topdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: relative;
}

.option {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-container {
  position: relative;
}

.selector {
  cursor: pointer;
  padding-right: 10px;
  z-index: 2;
  position: relative;
}

p {
    margin-top: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
}


.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid black;
  width: 150px;
  z-index: 5;
}

.option-dropdown{
  display: flex;
  align-items: center;
}

.option-dropdown:hover{

  background-color: gainsboro;
  cursor: pointer;
}


.bottomdiv {
    padding-bottom:10px;
    padding-left: 10px;
    display: flex;
    align-items: left;
}

.time {
    margin-top: 30px;
    margin-left: auto;
    margin-right: 15px;
}

.likeimg {
    margin-top: 33px;
    font-size: 20px;
    margin-right: 2px;
}

.likecount {
    margin-top: 33px;
    margin-left: 5px;
    margin-right: 10px;
    font-size: 20px;
}

.reyeetimg {
    margin-top: 36px;
    margin-left: 10px;
    margin-right: 3px;
}

.reyeettext {
    margin-top: 33px;
    font-size: 20px;
    margin-right: 15px;
}

.comment {
    display: flex;
    align-items: center;
    margin-top: 33px;
}

.commentimg {
    cursor: pointer;
    margin-right: 8px;
}

.commenttext {
    font-size: 20px;
    margin-top: 0;
}

.box {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 300px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    z-index: 2;
  }

  .question {
    position: absolute;
    top: 20px;
  }

  .yesbtn {
    position: absolute;
    top: 70px;
    left: 50px;
    width: 90px;
  }

  .nobtn {
    position: absolute;
    top: 70px;
    right: 50px;
    width: 90px;
  }

  .post {
    cursor: pointer;
  }