<div class="box">
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
        <label [style.color]="globals.darkMode() ? 'white' : 'black'" for="username">Username: </label>
        <input id="username" name="username" [(ngModel)]="data.username"><br>
        <label [style.color]="globals.darkMode() ? 'white' : 'black'" for="name">Name: </label>
        <input id="name" name="name" [(ngModel)]="data.name"><br>
        <label [style.color]="globals.darkMode() ? 'white' : 'black'" for="email">Email: </label>
        <input id="email" name="email" [(ngModel)]="data.email"><br>
        <label [style.color]="globals.darkMode() ? 'white' : 'black'" for="password">Password: </label>
        <input type="password" name="password" id="password" [(ngModel)]="data.password"><br>
        <label [style.color]="globals.darkMode() ? 'white' : 'black'" for="password-repeat">Password (again): </label>
        <input type="password" id="password-repeat" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.passwordRepeat"><br>
        <input class="submitbtn" type="submit" value="Register">
    </form>
</div>