<div class="box">
    <form>
        <label for="username">Username: </label>
        <input id="username"><br>
        <label for="name">Name: </label>
        <input id="name"><br>
        <label for="email">Email: </label>
        <input id="email"><br>
        <label for="password">Password: </label>
        <input type="password" id="password"><br>
        <label for="password-repeat">Password (again): </label>
        <input type="password" id="password-repeat"><br>
        <input class="submitbtn" type="submit" value="Register">
    </form>
</div>